body {
  height: 100vh;
  overflow: hidden;
}

#sidebar {
  height: 100%;
  overflow: auto;
}

#navbar {
  height: 100%;
}
#winCtrl-bar {
  -webkit-app-region: drag;
  width: 100%;
}
#close-btn,
#max-btn,
#min-btn {
  -webkit-app-region: none;
}

#close-btn:hover {
  transition: 0.3s;
}
#max-btn:hover,
#min-btn:hover {
  transition: 0.3s;
}
#logs-output {
  width: 85%;
  padding: 0.5rem;
  overflow: auto;
}

.categories-div {
  width: 100%;
}
.categories-btn {
  width: 100%;
}

.extra-input {
  border: 1px solid;
  border-radius: 0.25rem;
}
