body {
  height: 100vh;
  overflow: hidden;
  /* background-color: unset; */
}

#operation-area,#log-box{
  background-color: var(--bs-body-bg);
}

#sidebar {
  height: 100%;
  overflow: auto;
}

#navbar {
  height: 100%;
}
#winCtrl-bar {
  -webkit-app-region: drag;
  width: 100%;
}
#close-btn,
#max-btn,
#min-btn,#devices-btn {
  -webkit-app-region: none;
}

#close-btn:hover {
  transition: 0.3s;
}
#max-btn:hover,
#min-btn:hover {
  transition: 0.3s;
}
#log-box {
  width: 70%;
  padding: 0.5rem;
  overflow: auto;
  font-size: 0.8rem;
  overflow-x:hidden;
}

.logs-body{
  overflow-x: auto;
}

.categories-div {
  width: 100%;
}
.categories-btn {
  width: 100%;
}

.extra-input {
  border: 1px solid;
  border-radius: 0.25rem;
}